<div class="panel panel-default" ng-controller="WorkoutsReadController">
	<div class="panel-heading">Read Workouts</div>
	<div class="panel-body">
		<form class="navbar-form navbar-left" role="search" ng-submit="" name="workoutForm">

			<div class="input-group escape-buffer">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
				<input type="text" class="form-control" placeholder="Anaerbolic" ng-model="query" name="workoutType" required>
			</div>
			
		</form>
	</div>
	<table class="table">
		<tr>
			<th>Type</th>
			<th>Start</th>
			<th>End</th>
		</tr>
		<tr ng-repeat="w in workouts | filter:query">
			<td>{{w.type}}</td>
			<td>{{w.start}}</td>
			<td>{{w.end}}</td>
		</tr>
	</table>
</div>