<section ng-controller="SetsCreateController">
	<div class="panel panel-default">
		<div class="panel-heading">Create Sets</div>
		<div class="panel-body">
			<form class="navbar-form navbar-left escpae-buffer" role="search" ng-submit="onSubmit();" name="setForm">
				<p class="bg-info" ng-show="hydrateWorkout">
					<span class="hydrate">{{workout.digest()}}</span>
				</p>
				<div class="input-group">
					<span class="input-group-addon">Name</span>
					<input type="text" class="form-control" placeholder="Flat Bench Press" ng-model="set.name" required>
				</div>

				<div class="input-group">
					<input type="text" class="form-control" placeholder="225" ng-model="set.weight" required>
					<span class="input-group-addon">lbs/kgs</span>
					<span class="input-group-addon">X</span>
					<input type="text" class="form-control" placeholder="12" ng-model="set.X" required>
				</div>

				<div class="input-group escape-buffer">
					<input type="submit" class="btn btn-default" ng-show="!busy" />
					<br />
					<button type="button" class="btn btn-default btn-busy" ng-show="busy">
						<span class="glyphicon glyphicon-refresh glyphicon-busy"></span>
					</button>
				</div>

			</form>
		</div>
		<table class="table" ng-show="hydrateSets">
			<tr>
				<th>Name</th>
				<th>lbs/kg</th>
				<th>X</th>
			</tr>
			<tr ng-repeat="s in sets">
				<td>{{s.name}}</td>
				<td>{{s.weight}}</td>
				<td>{{s.X}}</td>
			</tr>
		</table>
	</div>
</section>